header.header
    .header__column
        a(href=routes.home)
            i.fas.fa-people-arrows
    .header__column        
        form(action=routes.search,method="get")
            input(type="text",name="term", placeholder="Searcy by term...")
    .header__column
        ul
            if !loggedUser
                li
                    a(href=routes.join) Join
                li
                    a(href=routes.login) LogIn    
            else
                li
                    a(href=`/board/${routes.upload}`) Upload
                li    
                    a(href=routes.userDetail(loggedUser.id)) Profile
                li
                    a(href=routes.logout) Log Out    
            