extends layouts/main.pug
include mixins/postBlock


block content
    .home-post
        .postIndex  
            .postName 이름
            .postTitle 제목
            .postTime 작성시간
        each post in showPostes
            +postBlock({
                name:post.name,
                title:post.title,   
                id:post.id,
                user:post.userId,
                time:post.time
            })
        .postPages
            ul.Pages
                -for(let i =startIndex; i<finishIndex; i++)
                    if(i+1 === pageIndex)
                        li.nowPage
                            a(href=`${routes.home}?page=${i+1}`)
                                button=i+1
                    else
                        li.page
                            a(href=`${routes.home}?page=${i+1}`)
                                button=i+1        
            .moveButton
                button.right
                    a(href=`${routes.home}?page=${pageIndex}&&right=false`)  
                        <i class="fas fa-arrow-left"></i>        
                button.left
                    a(href=`${routes.home}?page=${pageIndex}&&right=true`)
                        <i class="fas fa-arrow-right"></i>