extends layouts/main.pug

block content
    .board-container
        .post-wrapper
            .post-magnet
            .post-name    
                span.name__who 작성자
                span=post.name
            .post-title    
                span.title__title 제목
                span=post.title
            if(post.imageUrl)
                img(src=post.imageUrl)
            .post-content=post.description
            if(loggedUser && loggedUser.id===post.userId)    
                .button-wrapper
                    a(href=`/board/${post.id}/edit`)
                        button.editPost Edit
                    a(href=`/board/${post.id}/delete`)
                        button.deletePost   Delete
        .post-Comments
            .Comment__header Comments
            .Comment__replies
                ul.replies__wrapperBox
                    each comment in post.comments.reverse()
                        if(loggedUser && String(comment.creator) === loggedUser.id)
                            .comment-wrapper
                                li=comment.text
                                button(value=comment._id) ❌
                        else
                            li=comment.text      
            form.commentForm
                input.commentInput(type="text",placeholder="Please Comments")