extends layouts/main.pug

block content
    .post-wrapper
        .post-name=post.name
        .post-title=post.title
        .post-content=post.description
    if(loggedUser.id===post.userId)    
        a(href=`/board/${post.id}/edit`)
            button.editPost Edit
        a(href=`/board/${post.id}/delete`)
            button.deletePost   Delete
