extends layouts/main.pug

block content
    .board-container
        .post-wrapper
            .post-magnet
            .post-name=post.name
            .post-title=post.title
                if(post.imageUrl)
                    img(src=post.imageUrl)
            .post-content=post.description
            if(loggedUser && loggedUser.id===post.userId)    
                .button-wrapper
                    a(href=`/board/${post.id}/edit`)
                        button.editPost Edit
                    a(href=`/board/${post.id}/delete`)
                        button.deletePost   Delete
        .post-Comments
            .Comment__header Comments