extends layouts/main.pug

block content
    .profileDetail
        .name=user.name
        img.userImg(src=user.avatarUrl)
        if(user.id === showUser.id)
            a(href=`/users${routes.editProfile}`)
                button.editProfile editProfile
        .wrapper__title 게시글
        .posted-wrapper
            span 제목
            span 작성시간
            each post in postes
                a(href=`${routes.postDetail(post.id)}`)
                    .posted__title=post.title
                .posted__time= post.time